<div class="footer-box show" style="clear:both;">
	<p class="channel-font">
		<a href="javascript:viod();" target="_blank">友情连接：</a>
		{link id="vo"}
		<a href="{$vo['url']}" target="_blank">{$vo['title']}</a>
		{/link}
		<br>
	</p>
	<p class="footer-announce-info">
		本站提供小说免费阅读服务，如果侵犯了您的权益，或含有非法内容，请来信，确认后二十四小时内删除！<br/>
		本站为非营利性网站，作品版权属于原作者所有，鼓励读者购买正版小说，如果您喜欢某本小说，请购买正版图书，支持原作者的创作。
	</p>
	<p class="footer-announce">
		Copyright © 2019 {$web['url']} Rights Reserved.   {$web['meta_title']} 版权所有
	</p>
	<div style="width:300px;margin:0 auto; padding:20px 0 8px 0;">
	</div>
	<!-- 广告 -->
</div>