<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Language" content="zh-cn">
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1,user-scalable=no">
	<meta name="keywords" content="{$web['meta_keywords']}">
	<meta name="description" content="{$web['meta_description']}">
	<link rel="stylesheet" href="/template/home/default_web/css/common.css"/>
	<link rel="stylesheet" href="/template/home/default_web/css/index.css"/>
	<title>{$web['meta_title']}</title>
</head>
<body>
{include file="template/home/default_web/_part/header.html" /}
<script type="text/javascript" src="/template/home/default_web/js/vue.min.js"></script>
<script type="text/javascript" src="/template/home/default_web/js/index.js"></script>
</body>
</html>
