<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Language" content="zh-cn">
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="keywords" content="{$web['meta_keywords']}">
<meta name="description" content="{$web['meta_description']}">
<link rel="stylesheet" type="text/css" href="{$home_tplpath}css/common.css"/>
<title>{$title}-{$ctitle}-{$web['meta_title']}</title>
</head>
<body>
	{include file="template/home/default_web/_part/header.html" /}







	<div id="main">
		<div>
			<div class="path ">
				{crumbs id="vo"}
				<a href="{$vo['url']}">{$vo['title']}</a>
				{if $is_last!=true}
				<span>&gt;</span>
				{/if}
				{/crumbs}
			</div>

			<!-- 详情 -->
			<div class="n-info">
				<div>
					<div><img src="{$pic}" alt=""></div>


					<div class="n-info-i">
						<div>
							<span class="n-info-name">{$title}</span>
							<a href="{$author_url}" class="n-info-author" target="_blank">{$author}</a>
							<span>著</span>
						</div>

						<div class="n-info-tags">
							<a href="{:url('home/lists/lists',['serialize'=>$serialize])}">
								<span class="isfinish">{$serialize_text}</span>
							</a>
							<a href="{$curl}">
								<span class="">{$ctitle}</span>
							</a>
						</div>


						<div class="n-info-hits"> <i></i>
							<span>{$word_million}万 字</span> <i></i>
							<span>总点击 {$hits}</span>
							<i></i>
							<span>推荐票 {$recommend}</span>
						</div>

						<p class="n-info-text">{$content|raw|strip_tags}</p>

						<div class="n-info-btns">
							<a href="{$reader_url}" class="free on ui_bg_bdcolor" target="_blank">马上阅读</a>
							<a href="javascript:;" {$add_bookshelf} class="addshelf">加入书架</a>
						</div>
					</div>
				</div>








		</div>
	</div>







<!--	{include file="template/home/default_web/_part/footer.html" /}-->
	<script type="text/javascript" src="{$home_tplpath}js/vue.min.js"></script>
	<script type="text/javascript" src="{$home_tplpath}js/index.js"></script>
	<script type="text/javascript" src="{$home_tplpath}js/jquery.min.js"></script>
	<script type="text/javascript" src="{$home_tplpath}js/jquery.lazyload.min.js"></script>
	<script type="text/javascript" src="{$home_tplpath}js/jquery.mouseDelay.min.js"></script>
	<script type="text/javascript" src="{$home_tplpath}js/jquery.bxslider.min.js"></script>
	<script type="text/javascript" src="{$home_tplpath}js/global.js"></script>
</body>
</html>