<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Language" content="zh-cn">
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="keywords" content="{$web['meta_keywords']},{$author},{$title}">
<meta name="description" content="{$web['meta_description']}">
<link rel="stylesheet" type="text/css" href="{$home_tplpath}css/common.css"/>
<title>{$title}-{$ctitle}-{$web['meta_title']}</title>
	{include file="template/home/default_web/_part/common.html" /}
</head>
<body>
	{include file="template/home/default_web/_part/header.html" /}

	<div id="main">
		<div>
			<div class="path ">
				{crumbs id="vo"}
				<a href="{$vo['url']}">{$vo['title']}</a>
				{if $is_last!=true}
				<span>&gt;</span>
				{/if}
				{/crumbs}
			</div>
			<!-- 详情 -->
			<div class="n-info">
				<div>
					<div><img src="{$pic}" alt=""></div>
					<div class="n-info-i">
						<div>
							<span class="n-info-name">{$title}</span><a href="{$author_url}" class="n-info-author" target="_blank">{$author}</a><span>&nbsp;著</span>
						</div>
						<div class="n-info-tags">
							<a href="{:url('home/lists/lists',['serialize'=>$serialize])}"><span class="isfinish">{$serialize_text}</span></a>
							<a href="{$curl}"><span class="">{$ctitle}</span></a>
						</div>
						<div class="n-info-hits"> <i></i>
							<span>{$word_million}万 字</span> <i></i>
							<span>总点击 {$hits}</span>
							<i></i>
							<span>推荐票 {$recommend}</span>
						</div>
						<p class="n-info-text">{$content|raw|strip_tags}</p>
						<div class="n-info-btns">
							<a href="{$reader_url}" class="free on ui_bg_bdcolor" target="_blank">马上阅读</a>
							<a href="javascript:;" {$add_bookshelf} class="addshelf">加入书架</a>
						</div>
					</div>
				</div>
			</div>
			<!-- 按钮 -->
			<div class="n-content">
				<div class="n-btn-info" id="content-tab">
					<div class="n-btn-title">
						<div class="j-content-tab">
							<a href="#brief"><span class="on">作品简介</span></a>
							<a href="#catalog"><span>目录({$chapter_count}章)</span></a>
						</div>
						<a href="#comment-tab" class="n-btn-t-c">书友评论</a>
					</div>

					<div class="n-btn-content j-content-main">
						<div class="summary"><p>{$content}</p></div>
						<div class="new-chapter">
							<div>
								<span>最新章节&nbsp;:&nbsp;&nbsp;<a target="_blank" href="{$chapter_url}">{$chapter_title}</a></span>
								<span>更新时间&nbsp;:&nbsp;{:time_format($chapter_time,'Y-m-d H:i',1)}</span>
							</div>
							<p><a target="_blank" href="{$chapter_url}">{$chapter_content|raw|strip_tags|mb_substr=0,300}</a></p>
						</div>
						<div class="reader_comments" id="comment-tab">
							{comment size="12" /}
						</div>

						<div class="n-btn-mulu" style="display:none;">
							<div class="cate-tit">
								<h2>作品章节</h2>
							</div>
							<div>
								<ul>
									{chapter id="chapter"}
									<li>
										<a target="_blank" href="{$chapter['url']}">
											<span class="chapter_name">{$chapter['title']}</span>
											<span class="chapter_date">{:time_format($chapter_time,'m-d')}</span>
											{eq name="chapter['new']" value="1"}<span class="newChapter"></span>{/eq}
										</a>
									</li>
									{/chapter}
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="n-btn-rec">
					<div class="n-same-rec">
						<h3>同类推荐</h3>
						<ul class="rec-content">
							{novel id="novel" cid="$cid" limit="5" order="hits_week desc"}
							<li>
								<a href="{$novel['url']}" target="_blank"><img data-original="{$novel['pic']}" alt="" class="lazyimg" src=""></a>
								<div>
									<a class="rec-name" href="{$novel['url']}" target="_blank">{$novel['title']}</a>
									<p class="rec-desc">{$novel['content']}</p>
									<p class="rec-author"><a href="{$novel['author_url']}" target="_blank">作者：{$novel['author']}</a></p>
								</div>
							</li>
							{/novel}
						</ul>
					</div>
					<div class="n-same-gg">
						<div id="ntv_1995013"></div>
						<script type="text/javascript">(function(d){var params ={bvwidgetid: "ntv_1995013",bvlinksownid: 1995013, rows: 1, cols: 1, textpos: "below", imagewidth: 200, mobilecols: 1, cb: (new Date()).getTime()};params.bvwidgetid = "ntv_1995013" + params.cb;d.getElementById("ntv_1995013").id = params.bvwidgetid;var qs = Object.keys(params).reduce(function(a, k){ a.push(k + '=' + encodeURIComponent(params[k])); return a},[]).join(String.fromCharCode(38));var s = d.createElement('script'); s.type='text/javascript';s.async=true;var p = 'https:' == document.location.protocol ? 'https' : 'http';s.src = p + "://bvadtgs.scdn1.secure.raxcdn.com/bidvertiser/tags/active/bdvws.js?" + qs;d.getElementById(params.bvwidgetid).appendChild(s);})(document);</script>
					</div>
				</div>

			</div>
		</div>
	</div>
	{include file="template/home/default_web/_part/footer.html" /}
	<script type="text/javascript" src="{$home_tplpath}js/vue.min.js"></script>
	<script type="text/javascript" src="{$home_tplpath}js/index.js"></script>
	<script type="text/javascript" src="{$home_tplpath}js/jquery.min.js"></script>
	<script type="text/javascript" src="{$home_tplpath}js/jquery.lazyload.min.js"></script>
	<script type="text/javascript" src="{$home_tplpath}js/jquery.mouseDelay.min.js"></script>
	<script type="text/javascript" src="{$home_tplpath}js/jquery.bxslider.min.js"></script>
	<script type="text/javascript" src="{$home_tplpath}js/global.js"></script>
</body>
</html>