<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="Content-Language" content="zh-cn"/>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<meta name="keywords" content="{$list_keywords}"/>
	<meta name="description" content="{$list_description}"/>
	<link rel="stylesheet" type="text/css" href="{$home_tplpath}css/common.css"/>
	<link rel="stylesheet" type="text/css" href="{$home_tplpath}css/type.css"/>
	<title>{$list_title}</title>
</head>

<body>
	{include file="template/home/default_web/_part/header.html" /}
	<div id="main">
		<div>
			<div class="t-good">
				<span>好书推荐</span>
				<div>
					<ul>
						{novel id="novel" cid="$cid" limit="9" newbook="1"}
						<dl>
							<dt><a href="{$novel['url']}" target="_blank"><img class="lazyimg" data-original="{$novel['pic']}" src=""></a></dt>
							<dd>
								<a href="{$novel['url']}" target="_blank">{$novel['title']}</a><br/>
								<p class="t-desc">{$novel['content']}</p>
								<p class="t-author">作者：<a href="{$novel['author_url']}" target="_blank">{$novel['author']}</a></p>
							</dd>
						</dl>
						{if $i%3 == 0 }
					</ul>
					<ul>
						{/if}
						{/novel}
					</ul>
				</div>
			</div>

			<div class="t-category">
				{nav id="nav" cid="$cid"}
				<div>
					<div>
						{$nav['title']}
						<a href="{$nav['url']}" class="more" target="_blank">更多&gt;&gt;</a>
					</div>

					<dl>
						{novel id="novel" cid="$nav['id']" limit="1"}
						<dt>
							<a href="{$novel['url']}" target="_blank"><img class="lazyimg" data-original="{$novel['pic']}" src=""></a>
						</dt>
						<dd>
							<a href="{$novel['url']}" target="_blank">{$novel['title']}</a><br/>
							<p>{$novel['content']}</p>
							<span>作者：<a href="{$novel['author_url']}" target="_blank">{$novel['author']}</a></span>
						</dd>
						{/novel}
					</dl>

					<ul>
						{novel id="novel" cid="$nav['id']" limit="4"}
						{if $i>1}
						<li>
							<a class="t-tags">{$novel['ctitle']}</a>
							<a class="t-name" href="{$novel['url']}" target="_blank">{$novel['title']}</a>
						</li>
						{/if}
						{/novel}
					</ul>
				</div>
				{/nav}
			</div>



		</div>
	</div>
</body>
<script type="text/javascript" src="{$home_tplpath}js/vue.min.js"></script>
<script type="text/javascript" src="{$home_tplpath}js/index.js"></script>
<script type="text/javascript" src="{$home_tplpath}js/jquery.min.js"></script>
<script type="text/javascript" src="{$home_tplpath}js/jquery.lazyload.min.js"></script>
<script type="text/javascript" src="{$home_tplpath}js/jquery.mouseDelay.min.js"></script>
<script type="text/javascript" src="{$home_tplpath}js/global.js"></script>
</html>