<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="Content-Language" content="zh-cn"/>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<meta name="keywords" content="{$list_keywords}"/>
	<meta name="description" content="{$list_description}"/>
	<link rel="stylesheet" type="text/css" href="{$home_tplpath}css/common.css"/>
	<title>{$list_title}</title>
    {include file="template/home/default_web/_part/common.html" /}
</head>

<body>
	{include file="template/home/default_web/_part/header.html" /}
	<div id="main">
		<div>
			<div class="t-good">
				<span>好书推荐</span>
				<div>
					<ul>
						{novel id="novel" cid="$cid" limit="9" newbook="1"}
						<dl>
							<dt><a href="{$novel['url']}" target="_blank"><img class="lazyimg" data-original="{$novel['pic']}" src=""></a></dt>
							<dd>
								<a href="{$novel['url']}" target="_blank">{$novel['title']}</a><br/>
								<p class="t-desc">{$novel['content']}</p>
								<p class="t-author">作者：<a href="{$novel['author_url']}" target="_blank">{$novel['author']}</a></p>
							</dd>
						</dl>
						{if $i%3 == 0 }
					</ul>
					<ul>
						{/if}
						{/novel}
					</ul>
				</div>
			</div>

			<div class="t-category">
				{nav id="nav" cid="$cid"}
				<div>
					<div>
						{$nav['title']}
						<a href="{$nav['url']}" class="more" target="_blank">更多&gt;&gt;</a>
					</div>

					<dl>
						{novel id="novel" cid="$nav['id']" limit="1"}
						<dt>
							<a href="{$novel['url']}" target="_blank"><img class="lazyimg" data-original="{$novel['pic']}" src=""></a>
						</dt>
						<dd>
							<a href="{$novel['url']}" target="_blank">{$novel['title']}</a><br/>
							<p>{$novel['content']}</p>
							<span>作者：<a href="{$novel['author_url']}" target="_blank">{$novel['author']}</a></span>
						</dd>
						{/novel}
					</dl>

					<ul>
						{novel id="novel" cid="$nav['id']" limit="4"}
						{if $i>1}
						<li>
							<a class="t-tags">{$novel['ctitle']}</a>
							<a class="t-name" href="{$novel['url']}" target="_blank">{$novel['title']}</a>
						</li>
						{/if}
						{/novel}
					</ul>
				</div>
				{/nav}
			</div>


            <div class="rank-box">
                <div>
                    <span>日排行榜</span>
                    <ul>
                        {novel id="novel" cid="$cid" limit="10" order="hits_day desc"}
                        {if $i==1}
                        <li class="new-top-1">
                            <span class="num">{$i}</span>
                            <dl class="book-block">
                                <dt>
                                    <a href="{$novel['url']}" target="_blank"><img class="lazyimg" data-original="{$novel['pic']}" src=""></a>
                                </dt>
                                <dd>
                                    <a href="{$novel['url']}" target="_blank">{$novel['title']}</a>
                                </dd>
                            </dl>
                        </li>
                        {else/}
                        <li>
                            <span>{$i}</span>
                            <a href="{$novel['url']}" target="_blank">{$novel['title']}</a>
                        </li>
                        {/if}
                        {/novel}
                    </ul>
                </div>
                <div>
                    <span>周排行榜</span>
                    <ul>
                        {novel id="novel" cid="$cid" limit="10" order="hits_week desc"}
                        {if $i==1}
                        <li class="new-top-1">
                            <span class="num">{$i}</span>
                            <dl class="book-block">
                                <dt>
                                    <a href="{$novel['url']}" target="_blank"><img class="lazyimg" data-original="{$novel['pic']}" src=""></a>
                                </dt>
                                <dd>
                                    <a href="{$novel['url']}" target="_blank">{$novel['title']}</a>
                                </dd>
                            </dl>
                        </li>
                        {else/}
                        <li>
                            <span>{$i}</span>
                            <a href="{$novel['url']}" target="_blank">{$novel['title']}</a>
                        </li>
                        {/if}
                        {/novel}
                    </ul>
                </div>
                <div>
                    <span>月排行榜</span>
                    <ul>
                        {novel id="novel" cid="$cid" limit="10" order="hits_month desc"}
                        {if $i==1}
                        <li class="new-top-1">
                            <span class="num">{$i}</span>
                            <dl class="book-block">
                                <dt>
                                    <a href="{$novel['url']}" target="_blank"><img class="lazyimg" data-original="{$novel['pic']}" src=""></a>
                                </dt>
                                <dd>
                                    <a href="{$novel['url']}" target="_blank">{$novel['title']}</a>
                                </dd>
                            </dl>
                        </li>
                        {else/}
                        <li>
                            <span>{$i}</span>
                            <a href="{$novel['url']}" target="_blank">{$novel['title']}</a>
                        </li>
                        {/if}
                        {/novel}
                    </ul>
                </div>
                <div>
                    <span>完结榜</span>
                    <ul>
                        {novel id="novel" cid="$cid" limit="10" over="1" order="hits desc"}
                        {if $i==1}
                        <li class="new-top-1">
                            <span class="num">{$i}</span>
                            <dl class="book-block">
                                <dt>
                                    <a href="{$novel['url']}" target="_blank"><img class="lazyimg" data-original="{$novel['pic']}" src=""></a>
                                </dt>
                                <dd>
                                    <a href="{$novel['url']}" target="_blank">{$novel['title']}</a>
                                </dd>
                            </dl>
                        </li>
                        {else/}
                        <li>
                            <span>{$i}</span>
                            <a href="{$novel['url']}" target="_blank">{$novel['title']}</a>
                        </li>
                        {/if}
                        {/novel}
                    </ul>
                </div>
            </div>
            <div class="last-update">
                <div>
                    <span>最近更新</span>
                    <a href="{:url('home/lists/lists',['id'=>$cid,'order'=>'update_time desc'])}" class="more" target="_blank">更多&gt;&gt;</a>
                </div>
                <div>
                    <table>
                        <thead>
                        <tr>
                            <th class="no-show category">分类</th>
                            <th class="name">书名</th>
                            <th class="chapter">最新章节</th>
                            <th class="no-show author">作者</th>
                            <th class="no-show update">更新时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        {novel id="novel" cid="$cid" limit="20" order="hits desc"}
                        <tr>
                            <td class="no-show category"><div><a href="{$novel['curl']}" target="_blank">{$novel['ctitle']}</a></div></td>
                            <td class="name"><div><a href="{$novel['url']}" target="_blank">{$novel['title']}</a></div></td>
                            <td class="chapter"><div><a href="{$novel['chapter_url']}" target="_blank">{$novel['chapter_title']}</a></div></td>
                            <td class="no-show author"><div><a href="{$novel['author_url']}" target="_blank">{$novel['author']}</a></div></td>
                            <td class="no-show update"><div>{$novel['chapter_time']|time_format="m-d H:i"}</div></td>
                        </tr>
                        {/novel}
                        </tbody>
                    </table>
                </div>
            </div>
		</div>
	</div>
    {include file="template/home/default_web/_part/footer.html" /}
</body>
<script type="text/javascript" src="{$home_tplpath}js/vue.min.js"></script>
<script type="text/javascript" src="{$home_tplpath}js/index.js"></script>
<script type="text/javascript" src="{$home_tplpath}js/jquery.min.js"></script>
<script type="text/javascript" src="{$home_tplpath}js/jquery.lazyload.min.js"></script>
<script type="text/javascript" src="{$home_tplpath}js/jquery.mouseDelay.min.js"></script>
<script type="text/javascript" src="{$home_tplpath}js/global.js"></script>
</html>