<div id="header">
    <div>
        <div id="i-logo">
            <h1><a href="/"><img src="{$web['logo']}"/></a></h1>
        </div>
        <div class="phone-menu" @click="menu_trig">
            <div :class="{open1: menuOpen}"></div>
            <div :class="{open2: menuOpen}"></div>
            <div :class="{open3: menuOpen}"></div>
        </div>
        <div id="i-nav">
            {notempty name="user"}
            <span>
                <a href="{:url('user/index/index')}">{$user['username']}</a> |
                <a href="{:url('user/user/logout')}" class="exit">退出</a>
            </span>
            {else/}
            <span><a href="{:url('user/user/login')}">登录</a>|<a href="{:url('user/user/reg')}">注册</a></span>
            {/notempty}
            <span><button @click="search_change" class="btn" :class="search ? 'btn-search':'btn-close'"></button></span>
            <div>
                <div v-if="!search">
                    <form action="{:url('search/index')}" method="get">
                        <input type="text" name="keyword" placeholder="请输入书名或作者名" required>
                        <button class="btn btn-search"></button>
                    </form>
                </div>
                <ul v-if="search" id="i-menu">
                    {nav id="vo"}
                    <li {eq name="vo['current']" value="1"}class="curr"{/eq}><a href="{$vo['url']}">{$vo['title']}</a></li>
                    {/nav}
                </ul>
            </div>
        </div>

        <!-- 移动端 nav -->
        <div id="phone-nav" v-if="menuOpen">
            <ul>
                <li>
                    <form method="post">
                        <input type="text" placeholder="请输入书名或作者名" required>
                        <button class="btn btn-search"></button>
                    </form>
                </li>
                {notempty name="user"}
                <span>
                    <a href="{:url('user/index/index')}">{$user['username']}</a> |
                    <a href="{:url('user/user/logout')}" class="exit">退出</a>
                </span>
                {else/}
                <span><a href="{:url('user/user/login')}">登录</a>|<a href="{:url('user/user/reg')}">注册</a></span>
                {/notempty}
                {nav id="vo"}
                <li {eq name="vo['current']" value="1"}class="curr"{/eq}><a href="{$vo['url']}">{$vo['title']}</a></li>
                {/nav}
            </ul>
        </div>
    </div>
</div>