@font-face{font-family:youyuan;src:url('/template/home/default_web/fonts/youyuan.ttf');}
*{margin:0;padding:0;border:0;outline:0;font-family:youyuan,monospace;color:#424242;text-align:left;line-height:180%;letter-spacing:1.8px;font-size:14px;}
a,a:hover,a:focus,a:checked,a:active{cursor:pointer;text-decoration:none;}
ul{list-style:none;}
ul>li{cursor:pointer;}
[v-cloak]{display: none;}
.block10{height: 10px;}
.title{
    height: 24px;
    margin-top: 9px;
    font-size: 16px;
    display: block;
    position: relative;
}

.title em{
    left: 0;
    top: -3px;
    text-align: left;
    font-style: normal;
    position: absolute;
}