@charset "UTF-8";
.l-chose{width:240px;float:left;zoom:1;overflow:hidden;display:block;}
.l-chose>div{width:220px;margin-top:9px;zoom:1;overflow:hidden;border-bottom:1px solid #e6e6e6;}
.l-chose>div>span{font-size:16px;font-weight:600;}
.l-chose>div>ul{width:220px;font-size:0;padding-bottom:15px;}
.l-chose>div>ul>li{display:inline-block;margin:15px 16px 0 0;}
.l-chose>div>ul>li>a{font-size:8px;}
.l-chose>div>ul>li.on a{padding:3px 9px;color:#ec2147;border:1px solid #ec2147;border-radius:5px;}
.l-content{width:830px;min-height:840px;margin-top:3px;float:left;zoom:1;overflow:hidden;display:block;}
.l-menu{height:42px;margin-bottom:16px;line-height:42px;border-bottom:1px solid #f2f2f2;font-size:0;}
.l-menu,.i-menu>ul{width:830px;z-index:998;zoom:1;}
.l-menu>ul>li{width:80px;padding:6px 16px 0 0;float:left;position:relative;display:inline-block;}
a.downj{color:#ec2147}
a.downj:after{content:'';font-size:0;line-height:0;border-width:7px 7px 0;border-color:#999 transparent;border-style:solid dashed dashed}
.tipshover{width:90px;position:absolute;padding-bottom:17px;text-align:center;-webkit-box-shadow:5px 8px 10px rgba(0,0,0,.1);box-shadow:5px 8px 10px rgba(0,0,0,.1);background:#fff;}
.tipshover>li{float:left;padding:6px 8px;}
.tipshover>li>a{margin-top:9px;display:inline-block;color:#333}
.tipshover>li>a.cur{color:#ec2147;}
.l-rank,.l-rank>div{width:830px;zoom:1;overflow:hidden;}
.l-rank>div>dl{width:415px;height:130px;float:left;zoom:1;overflow:hidden;}
.l-rank>div>dl>dt{width:78px;height:130px;float:left;}
.l-rank>div>dl>dd{width:320px;height:130px;padding-left:6px;float:left;}
.l-rank>div>dl>dd>a{font-weight:600;font-size:13px;}
.l-tag,.l-tag>a{font-size:10px;}
.l-desc{height:40px;font-size:8px;zoom:1;overflow:hidden;}
.l-status{margin-top:8px;}
.l-status>span{font-size:12px;}
.l-status>span:nth-child(2){color:#ec2147;}
.l-pages_bottom{height:80px;margin-top:-10px;position:relative;zoom:1;overflow:hidden;}
.l-pages_bottom ul{position:absolute;right:50px;top:32px;zoom:1;display:-webkit-box;display:-ms-flexbox;display:flex;color:#999;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.l-pages_bottom ul li{margin-left:24px;cursor:pointer;}
.l-pages_bottom ul li a{font-size:12px;color:#0f1112;}
.l-pages_bottom ul li.active{width:30px;height:20px;background-color:#ec2147;line-height:20px;border-radius:10px;text-align:center;}
.l-pages_bottom ul li.active span{font-size:12px;color:#fff;}
@media only screen and (max-width:750px){.l-chose{width:100%;}.l-chose>div{width:calc(100% - 12px);margin:3px 6px;}.l-chose>div>span{font-size:13px;font-weight:500;}.l-chose>div>ul{width:100%;}.l-chose>div>ul>li{margin:6px;}.l-content{width:100%;margin-top:16px;}.l-menu{height:36px;line-height:36px;margin-bottom:12px;}.l-menu>ul{width:calc(100% - 12px);margin:0 6px;}.l-menu>ul>li{width:76px;padding:0;}.l-rank{width:100%;}.l-rank>div{width:calc(100% - 12px);padding:0 6px;}.l-rank>div>dl{width:100%;}.l-rank>div>dl>dd{width:calc(100% - 84px);padding-left:6px;}.l-pages_bottom{width:100%;height:66px;}.l-pages_bottom>ul{width:100%;height:30px;position:center;margin-top:36px;right:0;top:0;}.l-pages_bottom>ul>li{margin:0 auto;color:#333}}
